<div class='container hero-unit'>
    <h2>Task Tracker <i class="icon-dashboard"></i></h2>
    <h3>Login</h3>
    <form>
        <label><i class="icon-envelope"></i> Email</label>
        <input type="text" name="email">
        <label><i class="icon-key"></i> Password</label>
        <input type="password" name="password">
    </form>
    <button class="btn btn-primary" onclick="JavaScript:alert('Welcome!')">Login <i class="icon-signin"></i></button>

    <h3>Register</h3>
    <form>
        <label><i class="icon-envelope"></i> Email</label>
        <input type="text" name="email">
        <label><i class="icon-key"></i> Password</label>
        <input type="password" name="password">
        <label><i class="icon-key"></i> Verify Password</label>
        <input type="password" name="verifypassword">
    </form>
    <button class="btn btn-primary" onclick="JavaScript:alert('Welcome!')">Register <i class="icon-edit"></i></button>
</div>
