.task-tracker-logo {
    
}

.task-tracker-logo i {
    font-size: 70px;
    margin-top: -30px;
}

.task-tracker-logo .app-name {
    font-size: 40px;
    margin: 0 40px;
    width: 100px;
    display: inline-block;
    line-height: 30px;
}

/****** Components *******/

.datepicker input {
    background: none !important;
    border: none !important;
}

/****** Login/Register *******/

.login-register-form, .centered-form {
    width: 80% !important;
    display: inline-block;
    position: relative;
    left: 20% !important;
}

.login-register-form input,
.centered-form input,
.centered-form textarea {
    width: 70% !important;
    height: 40px !important;
}

.centered-form textarea {
    height: 150px !important;
}

.login-register-form .add-on, .centered-form .add-on {
    height: 40px !important;
}

/****** Create Task *******/
.create-task-form .centered-form {
    width: 95% !important;
    left: 4% !important;
}

.create-task-form .centered-form input,
.create-task-form .centered-form textarea {
    width: 90% !important;
}



