.task-tracker-logo {
    
}

.task-tracker-logo i {
    font-size: 70px;
    margin-top: -30px;
}

.task-tracker-logo .app-name {
    font-size: 40px;
    margin: 0 40px;
    width: 100px;
    display: inline-block;
    line-height: 30px;
}

/****** Components *******/

.datepicker input {
    background: none !important;
    border: none !important;
}

/****** Login/Register *******/

.login-register-form, .centered-form {
    width: 80% !important;
    display: inline-block;
    position: relative;
    left: 20% !important;
}

.login-register-form input,
.centered-form input,
.centered-form textarea {
    width: 70% !important;
    height: 40px !important;
}

.centered-form textarea {
    height: 150px !important;
}

.login-register-form .add-on, .centered-form .add-on {
    height: 40px !important;
}

/****** Create Task *******/
.create-task-form .centered-form {
    width: 95% !important;
    left: 4% !important;
}

.create-task-form .centered-form input,
.create-task-form .centered-form textarea {
    width: 90% !important;
}

/*******   TaskList ***********/
.task-list-item .x-list-item-label {
    border: 0 !important;
    padding: 0 !important;
}

.inner-task-list-item {
    border-bottom: 1px solid #c1c1c1;
    width: 100%;
    padding: 0.65em 0.8em;
}

.task-list-item.x-item-selected .inner-task-list-item,
.inner-task-list-item.completed {
    border-bottom: 0;
}

.inner-task-list-item.completed .task-name {
    text-decoration: line-through;
}

.inner-task-list-item .task-checkbox {
    color: #c1c1c1;
}

.inner-task-list-item.completed {
    color: #c1c1c1;
}

.inner-task-list-item.completed .task-checkbox {
    color: #3d3d3d;
}

.inner-task-list-item .task-due-date {
    float: right;
}

.inner-task-list-item .delete-task-container {
    display: inline-block;
    overflow: hidden;
    position:relative;
    left: 60px;
}

.inner-task-list-item .delete-task {
    -webkit-transform: translateX(70px);
    -webkit-transition: all .3s;
}

.inner-task-list-item .delete-task.showing {
    -webkit-transform: translateX(0px);
}



