<div class='container hero-unit'>
    <form>
        <p>First name: <input type="text" data-bind='value: firstName' /></p>
        <p>Last name: <input type="text" data-bind='value: lastName' /></p>
        <h1>Hello, <span data-bind='text: fullName'> </span>!</h1>
        <br/>
        <a href="http://www.nyan.cat/nyaninja.php" target="_blank" class="btn btn-large btn-primary">Click here to see nayan cat <i class="icon-thumbs-up icon-large"></i></a>
        <div style="width:300px;height: 200px; margin-top: 180px;">
            <i class="icon-globe" style="font-size: 300px;"></i>
        </div>
    </form>
</div>​