<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Goal Tracker</title>
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/lib/bootstrap.css">
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/lib/font-awesome.css">
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
        <script src="/assets/javascripts/lib/jquery-1.7.1.min.js" type="text/javascript"></script>
        <script src="/assets/javascripts/lib/require.js" data-main="/assets/javascripts/main.js" type="text/javascript"></script>
        <script src="/assets/javascripts/lib/bootstrap.min.js" type="text/javascript"></script>
        <script src="/assets/javascripts/lib/handlebars-1.0.0.beta.6.js" type="text/javascript"></script>
        <script src="/assets/javascripts/lib/underscore.js" type="text/javascript"></script>
        <script src="/assets/javascripts/lib/backbone.js" type="text/javascript"></script>
        <script type="text/javascript">
            require.config({
                baseUrl: "/assets/javascripts",
                paths: {
                    'text' : 'lib/text',
                    'backbone': "lib/backbone"
                }
            });
        </script>
    </head>
    <body>
        <div id="inner-pages"></div>
    </body>
</html>
